<!DOCTYPE html>
<html lang="en">
<head>
	<title>Aviation Weather - Login</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Join Today</legend>
				<div>
					{{ form.email.label(class="form-control-label") }}
					{{ form.email(class="form-control form-control-lg") }}
				</div>
				<div>
					{{ form.password.label(class="form-control-label") }}
					{{ form.password(class="form-control form-control-lg") }}
				</div>
			</fieldset>
			<div>
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
	<div>
		<small>
			Register a new account <a class="ml-2" href="{{ url_for('register') }}">Sign In</a>
		</small>
	</div>
</body>
</html>
